/* LOGÓ */
.logo {
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 20;
  width: 10%;
}
.logo path {
  fill: #7b6a58;
}

/* --- HERO oldal --- */
.hero {
  height: 100dvh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  background: radial-gradient(circle, rgba(255, 247, 238, 1) 10%, rgba(255, 231, 196, 1) 70%);
  overflow: hidden;
  z-index: 9;
}

.heroimg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  z-index: 5;
  filter: drop-shadow(-15px 20px 20px rgba(0, 0, 0, 0.7));
}

/* HERO SZÖVEGEK */
.big-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;

  font-size: 9vw;
  font-weight: 900;
  font-family: sans-serif;

  color: rgba(214, 159, 103, 0.15);

  z-index: 0;
  pointer-events: none;
  line-height: 1;
}

.little-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.pos-bottom-left {
  bottom: 10%;
  left: 5%;
  font-size: 2vw;
  font-weight: 800;
  width: 14vw;
  color: rgba(214, 159, 103, 0.3);
  line-height: 1.2;
  font-family: sans-serif;
}

.pos-bottom-right {
  bottom: 5%;
  right: 5%;
  font-size: 2vw;
  font-weight: 800;
  width: 25vw;
  color: rgba(214, 159, 103, 0.3);
  line-height: 1.2;
  font-family: sans-serif;
}

/* ANIMÁCIÓK */
@keyframes slideInRight {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInTop {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInImg {
  from {
    transform: translate(-50%, -40%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

.slide-in-right {
  opacity: 0;
  animation: slideInRight 5s ease-out 0.5s forwards;
}

.slide-in-left {
  opacity: 0;
  animation: slideInLeft 5s ease-out 0.5s forwards;
}

.slide-in-top {
  opacity: 0;
  animation: slideInTop 5s ease-out 0.5s forwards;
}

.slide-in-img {
  opacity: 0;
  animation: slideInImg 2s ease-out 0.5s forwards;
}

/* --- RESZPONZÍVITÁS --- */

@media (max-width: 768px) {
  .logo {
    width: 14vw;
    top: 17%;
  }

  .pos-bottom-left {
    font-size: 3vw;
    width: 20vw;
  }

  .pos-bottom-right {
    font-size: 3vw;
    width: 35vw;
  }

  .hero {
    background: radial-gradient(circle, rgba(255, 247, 238, 1) 25%, rgba(255, 231, 196, 1) 90%);
  }

  .big-text {
    font-size: 13vw;
  }
}
